.loginBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .header {
        position: absolute;
        height: 60px;
        left: 35px;
        right: 35px;
        top: 60px;
        line-height: 60px;
        font-size: 28px;
        text-align: center;
        color: white;
        font: 41px "宋体";
        h3 span {
            font: bold 46px md;
        }
    }

    .login-container {
        width: 400px;
        height: 215px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 40px;
        border-radius: 8px;
        background-color: rgba(0,0,0,.3);
        .el-form-item {
            border-bottom: 2px solid ghostwhite;
            i {
                font-size: 22px;
                text-indent: 15px;
                color: ghostwhite;
            }
            .el-input {
                width: 300px;
                height: 35px;
                position: absolute;
                top: -4px;
                margin-left: 18px;
                font: bold 20px md;
                border: none;
    
            }
        }
        .el-checkbox__label {
            color: gainsboro;
        }
        .el-button {
            height: 41px;
            margin-top: 25px;
            background-color: rgba(0,0,0,.5);
            border: none;
            border-radius: 20px;
            font: 17px/16px md;
            vertical-align: center;
            .el-icon-arrow-right {
                position: relative;
                top: 1px;
            }
            &:hover {
                background-color: rgba(0,0,0,.6);
            }
        }
    }
}