$maincolor: #409EFF;
section {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 3px;
}
.right-main{
    box-shadow: 0 0 5px #ccc;
}

.head {
    padding: 9px 11px;
    border-bottom: 1px solid gainsboro;
    span {
        font: 16px/32px "微软雅黑";
        color: #666;
    }
    .el-input--small {
        /*float: right;*/
        position: absolute;
        right: 187px;
        width: 200px;
        height: 30px;
        /*border-radius: 5px;*/
        /*border: 1px solid gainsboro;*/
        font: 14px "微软雅黑";
        text-indent: 10px;
        outline: none;
        &:focus {
            border-color: $maincolor;
        }
    }
    .el-button {
        float: right;
        margin-left: 10px;
    }
    .el-input__inner {
        height: 32px;
        line-height: 32px 
    }
    .el-range-editor.el-input__inner {
        position: absolute;
        right: 387px;
        padding: 0 10px;
    }
    .el-select{
        position: absolute;
        right: 387px;
    }
}
.content {
    position: absolute;
    top: 73px;
    left: 22px;
    bottom: 57px;
    right: 22px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 8px;
        height: 16px;
        background-color: #fff;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #aaa;
        cursor: pointer;
    }
    [class*=" el-icon-"],
    [class^=el-icon-] {
        font-size: 18px;
        cursor: pointer;
    }
    .el-icon-edit-outline,
    .el-icon-hr-mail{
        margin-right: 10px;
        &:hover{
            color: $maincolor;
        }
    }
    .el-icon-hr-mail{
        font: bold 16px "微软雅黑";
        position: relative;
        top: -1px;
    }
    .el-icon-hr-cancel{
        font-weight: bold;
    }
    .el-icon-delete:hover,
    .el-icon-hr-cancel:hover {
        color: #F56C6C;
    }
    a {
        color: #666;
    }
    .el-table--mini,
    .el-table--small,
    .el-table__expand-icon {
        font-size: 14px;
    }
    .el-table_72_column_359 {
        text-align: center;
    }
    
    //表格下拉
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
}
